*
{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
}


a {
    color: inherit;
    text-decoration: none;
}

.my-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fafaf9;
    background-color: #293344;
    opacity: 0.9;
    position: sticky;
    top: 0;
    
}

.logo-div {
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 3rem;
}

.logo {
    width: 40px;
    height: 40px;
    border-radius: 17px;
    margin-top: 14px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
}

.nav-bar>a {
    border-radius: 10px;
    border: #293344;
    background-color: #293344;
    color: white;
    padding: 10px 20px;
    font-size: medium;
    transition: all .2s ease;
    margin-right: 5px;
}

.nav-bar>a:hover {
    background-color: #4a5568;
    cursor: pointer;
}

#selected-button {
    background-color: #14b8a6;
    color: black;
}

.theme-change {
    padding-right: 3rem;
}

.theme-change>button {
    width: 30px;
    height: 30px;
    background-color: #293344;
    border: #293344;
}

.theme-change>button>img {
    width: 25px;
    height: 25px;
}





.header{
    border: 2px solid transparent;
    display: flex;
    justify-content: space-evenly;
   
    margin: auto;
     background-color: #293344;
     height: 70px;
}
.left{
    border: 2px solid transparent;
    display:flex;
    gap: 10px;
    align-items: center;

}
.logo{
    border-radius: 28px;
    border: 2px solid transparent ;
   padding: 17px 20px 17px 20px;
    text-align: center;
    background-image: linear-gradient(to bottom right, rgb(13, 150, 127) ,rgb(159, 94, 181));
    font-size: 15px;
    color: white;
   
}
.brand-name{
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.center{
    border: 2px solid transparent;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    right:30px;
}
.link{
    border: 2px solid transparent;
    text-decoration: none;
    font-size: 18px;
    border-radius: 15px;
     padding: 7px 10px 7px 10px;
     color: rgb(255, 255, 255);
     transition: all 0.5s linear;
}
.link:hover{
    background-color: #4a5568;

}
.link1{
    background-color: #14b8a6;
    color: white;
}
.link1:hover{
    background-color: #14b8a6;
    color: white;
}
.link2{
     background-color: #4a5568;
}
.link2:hover{
     background-color: #3f4b5f;
}
.right{
    display:flex;
    align-items: center;
}
.mode{
    height: 50px;
    width: 50px;
    border: 2px solid transparent;
}
.light-mode{
   width: 100%;
   height: 100%;
}
.page
{
    border: 2px solid transparent;
    width: 100%;
    background-color: #182336;
}
.top
{
    border: 2px solid transparent;  
    display: flex; 
    flex-direction: column ;  
    align-items: center;
    justify-content: space-between;
    height: 200px;
    position: relative;
    top: 50px;
   
}
.localevent
{   
    border: 2px solid transparent;
    font-size: 30px;
    font-weight: 700;
    color: white;
    position: relative;
    top: 10px;
    
}
.paragraph
{
    width: 650px;
    text-align: center;
    border: 2px solid transparent;
    color: rgb(174, 174, 174);
    font-size: 15px;
    word-spacing: 2px;
    font-weight: 500;
    position: relative;
    top: 5px;
}
.bar
{   
    display: flex;
    color: white;
    border: 2px solid transparent;
    width: 400px;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
}
.one{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 10px;
}
.workshop
{
    border: 2px solid transparent;
    background-color: rgb(70, 70, 212);
}
.sports
{
    border: 2px solid transparent;
    background-color: rgb(12, 168, 12);
}
.festival
{
    border: 2px solid transparent;
    background-color: rgb(255, 38, 0);
}
.community
{
    border: 2px solid transparent;
    background-color: purple;
}
.Arts
{
    border: 2px solid transparent;
    background-color: rgb(241, 144, 160);
}


.boxes{
    border: 2px solid transparent;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 30px;
    justify-items: center;
     background-color: #182336;
   /* margin-top: 100px; */
   padding-bottom: 100px;
   padding-top: 100px;

  
}
.box{
    border:2px solid transparent;
    height: 50vh;
    width: 90%;
    background-color: rgb(61, 61, 84);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
align-items: center;
justify-content: center;
transition: all 0.5s linear;
   


}

 .box:hover{
      transform: scale(1.05);
 }
.color{
border: 2px solid transparent;
height: 14px;
border-top-right-radius: 25px;
border-top-left-radius: 25px;
 background-color: blue;
width: 100%;
position: relative;
bottom: 55px;

}
.line1{
     background-color: rgb(12, 168, 12);
}
.line2{
    background-color: rgb(255, 38, 0);
}
.line3{
    background-color: purple;
}
.line4{
      background-color: rgb(12, 168, 12);;
}
.line5{
    background-color: rgb(241, 144, 160);
}
.line6{
    background-color: blue;
}
.line7{
    background-color: purple;
}
.content{
    border: 2px solid transparent;
    height: 65%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}
.ws1{
    border: 2px solid  transparent;
    color: white;
     padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 10px;
    width: 72px;
    background-color: blue;
    gap: 10px;
}
.sp1{
      width: 50px;
      background-color: rgb(12, 168, 12);
}
.fes1{
    width: 57px;
    background-color: rgb(255, 38, 0);
}
.com1{
    width: 80px;
    background-color: purple;
}
.art1{
    width: 30px;
       background-color: rgb(241, 144, 160);
}
.heading{
     border: 2px solid transparent;
    color: white;
    font-size: 20px;
    padding-top: 10px;
}
.date{
    display: flex;
    border: 2px solid transparent;
    align-items: center;
    gap: 10px;
    padding-top: 15px;
    font-size: 15px;

}

.tareehk{
border: 2px solid transparent;
color: white;
font-size: 15px;
word-spacing: 1px;


}
.time{
    display: flex;
    border: 2px solid transparent;
    align-items: center;
    gap: 10px;
    
    
}

.clock{
border: 2px solid transparent;
color: white;
font-size: 15px;
}

.location{
    display: flex;
    border: 2px solid transparent
    ;
      align-items: center;
    gap: 10px;
}

.place{
border: 2px solid transparent;
color: white;
font-size: 15px;
}
.para{
    border: 2px solid transparent;
    color: white;
    font-size: 15px;
    padding-top: 10px;
}
.btn{
   position: relative;
   top:19px;
}
.btn-name{
    border: 2px solid transparent;
    color: rgb(32, 140, 95);
    font-size: 20px;

   transition: all 0.6s linear;
}
.btn-name:hover{
    color: rgb(3, 83, 148);
}
.button-name{
     text-decoration: none;
     
}

.icon
{
    color: transparent;
}
.icon:hover{
    color: rgb(55, 228, 156);
}
.arrow{
border: 2px solid gray;
color: white;
}
.img7
{
    width: 15px;
    height: 15px;
}
.footer{
    border: 2px solid transparent;
      background-color: #374151;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     gap: 40px;
     height: 44vh;
    
}
.foot1{
    border: 2px solid transparent;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
}

.foot2{
    border-bottom: 1px solid #4b5563;
    width: 80%;
      position: relative;
    top:35px;
}
.foot3{
    font-size: 15px;
   color: #d1d5db; 
    position: relative;
    top:27px;
}
.f-one{
    border: 2px solid;
      border: 2px solid transparent;
    display:flex;
    gap: 10px;
    align-items: center;
}
.f-logo{
    border-radius: 28px;
    border: 2px solid transparent ;
   padding: 17px 20px 17px 20px;
    text-align: center;
    background-image: linear-gradient(to bottom right, rgb(13, 150, 127) ,rgb(159, 94, 181));
    font-size: 15px;
      color: #d1d5db; 
   
}
.f-brand-name{
    font-size: 20px;
    font-weight: bold;
      color: #d1d5db; 
}
.f-two{
    border: 2px solid transparent;
     color: #d1d5db; 
    width: 400px;
    position: relative;
    top:20px;
    font-size: 16px;
}
.f-heading{
    font-size: 20px;
    font-weight: bold;
      color: #d1d5db; 
}
.f-links{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    top:20px;
 
  
}
.lnk{
      text-decoration: none;
    font-size: 16px;
    
  color: #d1d5db; 
}
.f1{
    border: 2px solid transparent;
}
.f2{
    border: 2px solid transparent;
}
.f3{
    border: 2px solid transparent;
}
.f4{
    border: 2px solid transparent;
}